#anchorpane {
    -fx-background-color: #F8FAAC;
    -fx-background-image: url("../../images/MainMenu/Background_YellowStartup.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1100 700;
    -fx-background-position: center center;
}

#btnHISTORY {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-background-color: #D9D9D9;
    -fx-background-image: url("../../images/MainMenu/Button_History.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
    -fx-background-radius: 100px;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 100px;
}

#btnSETTINGS {
    -fx-background-color: #F8FAAC;
    -fx-background-image: url("../../images/MainMenu/Button_YellowSettings.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

#btnHELP {
    -fx-background-color: #D9D9D9;
    -fx-background-image: url("../../images/MainMenu/Button_Help.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
    -fx-background-radius: 100px;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 100px;
}

#btnSTART_TEST {
    -fx-translate-x: 480;
    -fx-translate-y: 365;
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-opacity: 0;
}

#btnOpenCATFIGHT {
    -fx-translate-x: 680;
    -fx-translate-y: 400;
    -fx-pref-width: 200;
    -fx-pref-height: 100;
    -fx-rotate: -30;
    -fx-opacity: 1;
}