@font-face {
    src: url("../../fonts/ChokoMilky.otf");
}

#l_congrats {
    -fx-font-family: "Choko Milky";
    -fx-font-size: 50px;
}

#pane {
    -fx-background-color: #F8FAAC;
}

#image {
    -fx-image: url("../../images/Score/CatYellow.png");
}